<!DOCTYPE html>
<html>

<head>

    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>edit your details</h1>
    <a href="/">Back</a>
    <form class="myform" action="/<%= content._id %>/edit" method="post">


        <label for="">Title</label>
        <input type="text" name="Title" value="<%= content.Title%>">
        <label for="">Summary</label>
        <input type="text" name="Summary" value="<%= content.Summary %>">

        <label for="book">Choose a category:</label>
        <select id="book" name="Category">
            <option value="fiction">fiction</option>
            <option value="adventure">adventure</option>
            <option value="technology">technology</option>
            <option value="motivation">motivation</option>
        </select>


        <label for="">Author</label>
        <input type="text" name="Author" value="<%= content.Author %>">

        <input type="submit">
    </form>

</body>

</html>