<!DOCTYPE html>
<html>

<head>

  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Bookstore</h1>
  <div>
    <a href="/add">Add Book</a>
  </div>
  <div>
    <form action="/home/Category" method="get">
      <label for="Category">search by category:</label>
      <input type="text" name="Category" placeholder="type category">

      <label for="Author">search by author:</label>
      <input type="text" name="Author" placeholder="type author name">

      <label for="Name">search by title:</label>
      <input type="text" name="Title" placeholder="type book name">

      <input type="submit">
    </form>
  </div>

  <ul>
    <% content.forEach((content)=> { %>
      <hr>
      <li> Title:
        <%= content.Title %>
      </li>
      <a href="/bookdetails/<%= content._id %>">Details</a>

      <% }); %>
  </ul>


</body>

</html>